:root {
    --black: #000000;
    --white: #ffffff;
    --maincolor: #39564f;
    --secondarycolor: #5d395f;
    --tan: #fae7c8;
    --lightgreen: #96aaa5;
    --grey: #e2e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/*Typography*/
html {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    color: var (--black);
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top: .75rem;
    line-height: 2.5rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    line-height: 1rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    line-height: 1rem;
    font-weight: 600;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;

}

h5{
    font-size: 1rem;
}

p.name{
    text-transform: uppercase;
    margin-left: .5rem;
}

p.pronouns{
    text-transform: lowercase;
    font-style: italic;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

div.banner h2{
    color: var(--white);
}

div.banner p{
    color: var(--white);
}

div.text p{
    margin-bottom: 2rem;
}

footer p{
    color: var(--white);
}

/*Layout*/

header.top{
    background-color: var(--white);
    position: relative;
    top: -2rem;
    padding: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

nav.main_menu{
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}

img.Logo {
    max-width: 4rem;
    margin: 0 auto 0 1rem;
    padding-top: .35rem;
    display: flex;
    justify-self: start;
  } 

header.maincontent{
    background-color: var(--white);
}

  ul{
    margin: .25rem;
    list-style-type: none;
  }

  img.selfie{
    max-width: 500px;
    border-radius: 100%;
  }

div.Hero{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

div.Hero header{
    max-width: 40%;
    margin-right: 3rem;
}

div.Hero header p{
    margin-left: .5rem;
}

div.Features{
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--grey);
    padding-top: 2rem;
    padding-bottom: 3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.Features h2{
    align-self: center;
    margin-bottom: 1.5rem;
}

div.Features ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

div.Features ul li{
    width: 40%;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

div.banner{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    padding-top: .5rem;
    background-color: var(--lightgreen);
}

div.FAQ{
    padding: 2rem;
    display: flex;
}

div.FAQ h2{
    margin-bottom: 1.5rem;
    line-height: 2.2rem;
}

div.FAQ ul li{
    padding: .8rem;
}

img.aboutselfie{
    max-width: 400px;
    border-radius: 10px;
}

div.About{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}

div.text{
    max-width: 60%;
}

div.Certs{
    padding: 1rem;
}

div.education{

}

  footer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:var(--maincolor);
    justify-content: space-between;
    align-items: center;
  }

  footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer ul li{
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    font-size: .8rem;
  }

img.footlogo{
    max-width: 150px;
    margin-left: 1rem;
}

li.logo{
    justify-self: start;
}

img.insta{
    max-width: 20px;
    display: flex;
    align-self: baseline;
}


/* Links */

nav a:link, nav a:visited{
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    text-decoration: underline;
}

a.button:link, a.button:visited{
    background-color: var(--secondarycolor);
    color: var(--white);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.button:hover{
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.button:active{
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

footer a:link, footer a:visited{
    color: var(--white);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer a:active{
    text-decoration: underline;
}