:root {
    --black: #000000;
    --white: #ffffff;
    --maincolor: #39564f;
    --secondarycolor: #5d395f;
    --tan: #fae7c8;
    --lightgreen: #96aaa5;
    --grey: #e2e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/*Typography*/
html {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    color: var (--black);
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top: .75rem;
    line-height: 5rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    line-height: 2.5rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    line-height: 1.5rem;
    font-weight: 600;
}

h3.steps{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3.tier{
    font-size: .8rem;
    margin-bottom: .5rem;
    line-height: 1rem;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;

}

h4.dollar{
    font-size: 2.5rem;
    line-height: 3rem;
}

h5{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

p.name{
    text-transform: uppercase;
    margin-left: .5rem;
}

p.pronouns{
    text-transform: lowercase;
    font-style: italic;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

div.text p{
    margin-bottom: 2rem;
}

p.year{
    font-style: italic;
    font-size: .8rem;
}

div.Certs h3{
    margin-bottom: 1rem;
}

div.Services p{
    text-align: center;
}

h4.degree{
    margin-bottom: .5rem;
}

footer p{
    color: var(--white);
}

/*Layout*/

header.top{
    background-color: var(--white);
    position: relative;
    top: -2rem;
    padding: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

nav.main_menu{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}

img.Logo {
    max-width: 4rem;
    margin: 0 auto 0 1rem;
    padding-top: .35rem;
    display: flex;
    justify-self: start;
  } 

header.maincontent{
    background-color: var(--white);
}

  ul{
    margin: .25rem;
    list-style-type: none;
  }

  img.selfie{
    max-width: 500px;
    border-radius: 100%;
  }

div.Hero{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

div.Hero header{
    max-width: 40%;
    margin-right: 3rem;
}

div.Hero header p{
    margin-left: .5rem;
}

div.Features{
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--grey);
    padding-top: 2rem;
    padding-bottom: 3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.Features h2{
    align-self: center;
    margin-bottom: 1.5rem;
}

div.Features ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

div.Features ul li{
    width: 40%;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

div.banner{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    padding-top: .5rem;
    background-color: var(--lightgreen);
}

div.FAQ{
    padding: 2rem;
    display: flex;
}

div.FAQ h2{
    margin-bottom: 1.5rem;
    line-height: 2.2rem;
    margin-right: 1rem;
}

div.FAQ ul li{
    padding: .8rem;
}

img.aboutselfie{
    max-width: 100%;
    border-radius: 10px;
    max-height: 500px;
}

div.About{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: center;
}

div.text{
    max-width: 60%;
    margin-right: 1rem;
}

div.Certs{
    padding: 2rem;
}

div.education{
    max-width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.Certs ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.Certs ul li{
    background-color: var(--tan);
    width: 20rem;
    padding: 1rem;
    border-radius: 10px;
}

div.Services{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

p.description{
    max-width: 70%;
}

div.Services ol{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-items: space-between;
    list-style-position: inside;
    gap: 20px;
    list-style-type: none;
}

div.Services ol li{
   width: 25%;
   background-color: var(--tan);
   border-radius: 20px;
   padding: 1rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 1rem;
}

div.Pricing{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.Pricing p.description{
    max-width: 70%;
    text-align: center;
    margin-bottom: 1rem;
}

div.Pricing ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.Pricing ol li{
    padding: 1rem;
    background-color: var(--grey);
    border-radius: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
}

div.tier{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

div.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

div.contact p{
    text-align: center;
}

  footer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:var(--maincolor);
    justify-content: space-between;
    align-items: center;
  }

  footer.contact {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:var(--maincolor);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer ul li{
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    font-size: .8rem;
  }

img.footlogo{
    max-width: 150px;
    margin-left: 1rem;
}

li.logo{
    justify-self: start;
}

img.insta{
    max-width: 20px;
    display: flex;
    align-self: baseline;
}


/* Links */

nav a:link, nav a:visited{
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    text-decoration: underline;
}

a.button:link, a.button:visited{
    background-color: var(--secondarycolor);
    color: var(--white);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.button:hover{
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.button:active{
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.email:link, a.email:visited{
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a.email:hover{
    color: var(--black);
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a.email:active{
    color: var(--black);
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a.interest:link, a.interest:visited{
    background-color: var(--secondarycolor);
    color: var(--white);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.interest:hover{
    background-color: var(--lightgreen);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a.interest:active{
    background-color: var(--lightgreen);
    color: var(--black);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

footer a:link, footer a:visited{
    color: var(--white);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer a:active{
    text-decoration: underline;
}

/*Media Queries*/

@media screen and (max-width: 650px){
    header.top{
        padding-bottom: 0;
    }
    
    nav.main_menu ul{
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav.main_menu a{
        font-size: 1rem;
    }

    div.hero h1{
        margin-top: 0;
    }

    div.banner {
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer ul{
        flex-direction: column;
    }

    a.email:link, a.email:visited{
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px){
   img.selfie{
    margin-top: 2rem;
   }
   
    div.FAQ{
        flex-direction: column;
    }

    div.FAQ h2{
        text-align: center;
        margin-right: 0;
    }

    div.Features h2{
        text-align: center;
    }
    
    div.Features{
        padding: 1rem;
        margin-top: 1rem;
        background-color: var(--grey);
        padding-top: 2rem;
        padding-bottom: 3rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    div.Features ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    
    div.Features ul li{
        width: 95%;
        background-color: var(--white);
        padding: 1rem;
        border-radius: 10px;
        align-self: center;
    }

    div.Hero{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: center;
        justify-content: center;
        padding-top: .5rem;
        padding-bottom: 2rem;
        align-content: center;
    }
    
    div.Hero header{
        max-width: 100%;
        text-align: center;
        align-self: center;
        margin-right: 0;
    }

    div.About{
        flex-direction: column;
    }

    div.text{
        max-width: 100%;
    }

    div.education{
        max-width: 100%;
    }

    p.description{
        max-width: 100%;
    }

    div.Pricing p.description{
        max-width: 100%;
    }

    div.Pricing ol li{
        flex-direction: column;
    }

    div.tier{
        padding-right: 1rem;
    }
}

@media screen and (max-width: 1000px){
    img.selfie{
        max-width: 350px;
    }
}

@media screen and (max-width: 1020px){
    div.Services ol{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    div.Services ol li{
       width: 100%;
    }
}
